<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <table class="table table-sm table-dark">
                <tr>
                    <th>Model</th>
                    <th>Mark</th>
                    <th>action</th>
                </tr>
                <tr th:each="car: ${cars}">
                    <td th:text="${car.getMark()}"></td>
                    <td th:text="${car.getModel()}"></td>
                    <td>
                        <form th:action="@{/delete-car}"
                              th:object="${car}" method="post">
                            <input type="hidden" th:value="${car.getId()}" name="id"/>
                            <input type="submit" class="btn btn-danger" value="Delete car">
                        </form>
                        <!-- Button trigger modal for Edit CAR -->
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                                th:attr="data-target='#editCar'+${car.getId()}">
                            EditCar
                        </button>

                        <!-- Modal - EditCar-->
                        <div class="modal fade" th:id="editCar+${car.getId()}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Car</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/edit-car}" method="post" th:object="${editCar}">
                                            <p>Marka:<input th:type="text" th:field="*{mark}"
                                                            th:placeholder="${car.getMark()}"></p>
                                            <p>Model:<input th:type="text" th:field="*{model}"
                                                            th:placeholder="${car.getModel()}">
                                            </p>
                                            <input type="hidden" th:value="${car.getId()}" name="id"/>
                                    </div>
                                    <div class="modal-footer">
                                        <p><input class="btn btn-success" th:type="submit" th:value="Save"></p>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- Button trigger modal for ADD CAR -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                AddCar
            </button>

            <!-- Modal - ADD CAR-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/add-car}" th:object="${newCar}" method="POST">
                                <p>Marka:<input th:type="text" th:field="*{mark}" required></p>
                                <p>Model:<input th:type="text" th:field="*{model}" required></p>
                        </div>
                        <div class="modal-footer">
                            <p><input class="btn btn-success" th:type="submit" th:value="Save"></p>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>